/* Reduce padding on primary links */
nav[aria-label="Primary"] > a > div {
  padding-bottom: 5px;
  padding-top: 5px
}

/* Reduce font size on primary links */
nav[aria-label="Primary"] > a span,
nav[aria-label="Primary"] > div span {
  font-size: 16px !important
}

/* Hide 'Trending' blocks */
[aria-label="Timeline: Trending now"] {
  display: none !important
}

/* Adjust the font styling within tweets */
[aria-label="Timeline: Notifications"] article div[lang] span {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 5px
}

a[aria-label="Tweet"] {
  height: auto;
  min-height: 0;
  min-width: 0;
  padding: 10px 15px;
  width: 70%;
}
